- include_stylesheet 'admin/assets'
- include_javascript 'admin/assets'

- content_for :toolbar do
  = render 'search'

.outset
  - options = params[:list_view] ? {class: 'assets_list'} : {class: 'assets'}
  #assets_table{options}
    = render :partial => 'asset_table', :locals => { :assets => @assets }
  %p{:style => 'clear: both; height: 2em'} &nbsp;

- render_region :bottom do |bottom|
  .asset-actions.clearfix

    .pull-right= pagination_for @assets, :depaginate => false

    .btn-group.pull-left
      %a.btn.btn-default.btn-sm{:href => new_admin_asset_path}
        =image('upload') + ' ' + t('clipped_extension.upload_asset')
      %a.btn.btn-default.btn-sm{:href => admin_categories_path} Manage Categories
      - if current_user.admin?
        %a.btn.btn-default.btn-sm{:href => refresh_admin_assets_path}
          =t('clipped_extension.regenerate_thumbnails')
