- include_stylesheet 'admin/assets'
- include_javascript 'admin/assets'

%h1
  Categories

- form_for current_object, :url => admin_category_path(current_object), :html => {:method => "put"} do |f|
  Name&nbsp;&nbsp;&nbsp;&nbsp;
  = f.text_field :name

  .buttons
    = f.submit
    = link_to 'Cancel', admin_categories_path

